.product-image{
  img{
    width: 80%;
    object-fit: cover;
    height: 342px;
  }
}



table{
  border: 1px solid gray;
  border-collapse: collapse;
  border-radius: 8px;
}
th,td,tr{
      border: 1px solid gray;
      padding: 10px;
}
.drop select{
  border: none;
}
select:focus{
  outline: none;
}
.drop select{
  border-bottom: 1px solid black;
}
.card-1 p{
  margin-bottom: 0;
}
