<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="sys-container-lg">
  <div class="sys-row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <th>
            Item Name
          </th>
          <th>
            Item Price
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.name }}</td>
            <td>{{ item.price | currency }}</td>
          </tr>
        </tbody>
    </table>
    </div>
   
    <div class="col-md-6">
      <h2>User Details</h2>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <div>
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="name">
        </div>

        <div>
          <label for="address">
            Address
          </label>
          <input id="address" type="text" formControlName="address">
        </div>

        <button class="button" class="sys-btn-accent" type="submit">Purchase</button>

      </form>
    </div>
  </div>
</div>


