.img-banner{
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.img-logo, .product-feture img{
    width: 60px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}
.shop-details h1{
    line-height: 0;
    font-size: 1rem;
}

.card img{
  height: 143px;
  width: 100%;
  object-fit: cover;
}

.pr-img{
  img{
    width: 200px;
    margin-bottom: 10px;
  }
}
td{
  width: 25%;
  float: left;
}

@media(max-width: 767px){
    .shop-details h1{
        font-size: 17px;
    }
}
